@use 'src/styles/variables' as v;

.story-button {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  font-size: v.$font-medium;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  background: none;
  border: 0.15rem solid v.$color-accent;
  color: v.$color-accent;
  border-radius: 1rem;
  transition: all 0.3s ease;

  &:hover:not(:disabled) {
    background-color: v.$color-accent;
    color: v.$color-page;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
