$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$color-text-soft: #8a817c;
$color-text: #463f3a;
$color-page: #f4f3ee;
$color-background: #bcb8b1;
$color-accent: #e0afa0;

$font-big: 2rem;
$font-medium: 1.2rem;
$font-small: 0.8rem;