$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$primary: #ffe0c6;
$dark: #282c34;
$nav-bg: #1a1a1a;
$text-light: #ffffff;

$color-text:      #463f3a; // Gris oscuro (títulos y logo)
$color-interact:  #8a817c; // Gris fuerte (hover, botones)
$color-bg-main:   #bcb8b1; // Gris medio (fondo general)
$color-container: #f4f3ee; // Gris claro (tarjetas/secciones)
$color-accent:    #e0afa0; // Marrón teja (destacados)