@use 'src/styles/variables' as vars;
@use 'src/styles/mixins' as mixs;

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include mixs.respond-to('desktop') {
    flex-direction: row;
    margin: 0;
    height: 100vh;
    align-items: stretch;
    overflow: hidden;
  }

  &__page {
    background-color: vars.$color-page;
    width: 100%;
    height: auto;
    padding: 3rem 4rem;
    box-sizing: border-box;

    @include mixs.respond-to('desktop') {
      background-color: transparent;
      //box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.15);
      flex: 1;
      width: auto;
      min-width: 0;
      min-height: 25rem;
      height: calc(100% - 4rem);
      margin: 2rem 0;
      overflow: hidden;
    }

    &--left {
      padding-bottom: 1rem;

      @include mixs.respond-to('desktop') {
        border-radius: 0.55rem 27.5% 27.5% 0.55rem / 1.5% 1% 1% 1.5%;
        //padding-bottom: 3rem;

        /*background-image: linear-gradient(
          to right,
          transparent 99%,
          vars.$color-background 99.8%,
          vars.$color-text-soft 100%
        );*/
      }
    }

    &--right {
      padding-top: 1rem;

      @include mixs.respond-to('desktop') {
        //border-radius: 27.5% 0.55rem 0.55rem 27.5% / 1% 1.5% 1.5% 1%;
        padding-top: 3rem;

        /*background-image: linear-gradient(
          to left,
          transparent 99%,
          vars.$color-background 99.8%,
          vars.$color-text-soft 100%
        );*/
      }
    }
  }

  &__content {
    height: 100%;
    overflow-y: auto;
  }

  &--single {
    @include mixs.respond-to('desktop') {
      justify-content: center;

      .book__page--right {
        flex: 0 1 auto;
        max-width: 500px;
        width: 100%;
        border-radius: 1rem;
      }
    }
  }
}