.main-layout {
  display: flex;
  min-height: 100vh;

  .navbar {
    width: 80px;
    flex-shrink: 0;
  }

  .content-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 1em;
  }
}