@use '../../styles/variables.scss' as v;

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  &.light-theme {
    .logo-icon {
      fill: v.$color-text;
    }
  }

  &.dark-theme {
    .logo-icon {
      fill: v.$color-accent;
    }
  }
}