@use '../../styles/variables.scss' as v;
@use '../../styles/mixins.scss' as m;

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include m.respond-to('desktop') {
    flex-direction: row;
  }

  &__page {
    background-color: v.$color-container;
    width: 100%;
    height: auto;
    padding: 1em;

    @include m.respond-to('desktop') {
      width: 48%;
      height: 90vh;
    }

    &--left {
      border-radius: 15px 15px 0 0;
      @include m.respond-to('desktop') {
        border-radius: 15px 0 0 15px;
      }
    }

    &--right {
      border-radius: 0 0 15px 15px;
      @include m.respond-to('desktop') {
        border-radius: 0 15px 15px 0;
      }
    }
  }

  &__spine {
    background-color: v.$color-interact;
    width: 100%;
    height: 10px;

    @include m.respond-to('desktop') {
      width: 2%;
      height: 100%;
    }
  }
}
