@use '../../styles/variables.scss' as v;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: v.$primary;
  font-size: 1em;
  
  svg {
    width: 32px;
    fill: v.$primary;
  }
}