@use '../../styles/variables.scss' as v;

.rightbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: v.$color-bg-main;
  padding: 2rem 1rem;
  gap: 1.5rem;
  height: 100vh;
  width: 15vh;
}