@use 'src/styles/variables' as v;

.nav-button {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: v.$color-text;
  font-family: 'Caveat';
  font-size: v.$font-big;
  line-height: 1;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }

  &--active {
    background: transparent;
    color: v.$color-text;
    font-weight: bold;
  }
}
