@use 'src/styles/variables' as v;

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 1rem;
  text-decoration: none;
  color: v.$color-text;
  font-family: 'Caveat';
  font-size: clamp(0.75rem, 2.5vw, v.$font-big);
  line-height: 1;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }

  &--active {
    background: transparent;
    color: v.$color-text;
    font-weight: bold;
  }
}
