@use '../../../styles/variables' as v;

.user-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;

  &__avatar {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__icon {
    font-size: 2rem;
  }

  &__initial {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }

  &__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    text-align: center;
  }

  &__name {
    font-size: 0.8rem;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__logout-text {
    font-size: 0.7rem;
  }
}
