# Configuración del Servidor
PORT=5000

# URL de conexión a MongoDB dentro de Docker
MONGO_URI=mongodb://mongodb_tuhistoria:27017/tuhistoria

# Clave secreta para firmar los tokens JWT
JWT_SECRET=

# KEY para usar la API de Gemini
GEMINI_API_KEY=